.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

__pycache__/
*.py[cod]
*$py.class

*.so

build/
dist/
*.egg-info/
.eggs/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

venv/
.venv/
env/
.env/
pip-log.txt
pip-delete-this-directory.txt

.pytest_cache/

.coverage
.coverage.*
htmlcov/
coverage.xml

.mypy_cache/
.pyre/
.typeguard_cache/

.tox/

.vscode/
.idea/
*.iml
*.iws

.ipynb_checkpoints
